title: The Nursury
email: jon@jonmsterling.com
description: >-
  A mathematical web page.
baseurl: &baseurl "/math"
url: "https://www.jonsmsterling.com/"
twitter_username: jonmsterling
github_username: jonsterling

theme: minima

safe: false
source: .
destination: ./_site
exclude:
  - macros/compiled
  - _site
  - _bibliography
  - setup-worktree.sh
  - deploy.sh

keep_files:
  - antex

markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge
  math_engine: null
  parse_block_html: true

antex:
  url_path_prefix: *baseurl

  preamble: >-
    \usepackage{jon-tikz}
    \usepackage{mlmodern,amsfonts,amssymb,amsmath}
    \usepackage{topos}

  commands:
    latexmk:
      command:
        - "TEXINPUTS=.:./assets/macros/:${TEXINPUTS}"
        - "latexmk"
        - "-output-directory={{ dir.work }}"
        - "{{ file.tex }}"
      sources:
        - "{{ file.tex }}"
      targets:
        - "{{ file.dvi }}"
        - "{{ file.yml }}"

  aliases: # disable most aliases and use server side AnTeX only for complex LaTeX
    display_math:
      priority: 20
      regexp: !ruby/regexp |
        /«
        (?<code>.*?)
        »/mx
      options:
        prepend: '$\displaystyle '
        append: $
        classes: [antex, display]
    inline_math: false
    inline_macro: false

plugins:
  - jekyll-feed
  - jekyll-scholar

scholar:
  style: elsevier-harvard
  bibliography: refs-bibtex.bib
  bibliography_template: bib
  details_dir: bibliography
  details_layout: bibtex.html
  details_link: Details

collections:
  lectures:
    output: true
  nodes:
    output: true

defaults:
  - scope:
      type: nodes
    values:
      layout: node
      excerpt: ""
  - scope:
      type: lectures
    values:
      layout: node
      excerpt: ""
