<script defer>
  const mathjax_config = (macros) =>
    ({
      loader: {
        load: ['[custom]/xypic.js', '[tex]/newcommand'],
        paths: {
          custom: 'https://cdn.jsdelivr.net/gh/sonoisa/XyJax-v3@3.0.1/build/'
        }
      },
      tex: {
        inlineMath: [
          ['$', '$'],
          ['\\(', '\\)']
        ],
        packages: {
          '[+]': ['xypic', 'newcommand']
        },
        macros: macros
      },
      svg: {
        fontCache: 'global'
      }
    });

  const macros_promise =
      {% if page.macrolib %}
      fetch("assets/macros/{{page.macrolib}}.json").then(response => response.json());
      {% else %}
      Promise.resolve({})
      {% endif %};

  macros_promise.then(mathjax_config).then(function (mathjax) {
    window.MathJax = mathjax;
    var script = document.createElement('script');
    script.src = 'https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js';
    script.async = true;
    document.head.appendChild(script);
  });

</script>


<style>
  .katex { line-height: 1 !important; }
  .antex.display { display: flex; }
  .antex.display > img { margin: 0 auto !important; }
</style>
