<style>
  nav.d-pad {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem 0rem 4rem 0rem;
  }

  nav.d-pad i.arrow {
    display: inline-block;
    font-style: normal;
    position: relative;
    width: 0.4em;
    height: 0.4em;
    border: 0.2em solid black;
    border-bottom: unset;
  }
  nav.d-pad i.arrow.left {
    border-right: unset;
    transform: rotate(-45deg);
  }
  nav.d-pad i.arrow.right {
    border-left: unset;
    transform: rotate(45deg);
  }
</style>

<nav class="d-pad">

{% assign prev = page.predecessors | last %}
{% assign upwd = page.parent %}
{% assign next = page.successors | first %}

{% if prev %}
  <a href="{{prev.url | relative_url}}">
    <i class="arrow left"></i>
    {{ prev | display_title }}
    <span class="slug">[{{prev.slug}}]</span>
  </a>
{% endif %}

{% if next %}
  <a href="{{next.url | relative_url}}">
    {{ next | display_title }}
    <span class="slug">[{{next.slug}}]</span>
    <i class="arrow right"></i>
  </a>
{% endif %}

</nav>
