<ul class="toc">
  {% assign filtered_resources = include.page.children | where: "toc", true -%}
  {% for resource in include.page.children %}
  <li>
    {{ resource.clicks | to_numbering }}
    <a href="#{{resource.slug}}">
      {%- if resource.title != resource.slug -%}
        {{ resource.title }}
      {%- elsif resource.genus -%}
        {{ resource.genus }}
      {%- else -%}
        {{ resource.slug }}
      {%- endif -%}
    </a>
    <a class="slug" href="{{resource.url | relative_url}}">[{{resource.slug}}]</a>
    {% include toc.html page=resource %}
  </li>
  {% endfor %}
</ul>

