---
---

@import "simple.css";

body {
}

h1,h2,h3,h4,h5,h6  {
  font-family: "Palatino", "Inria Sans" !important;
  font-weight: bold !important;
}

h1 {
  font-size: 2em !important;
}

h2 {
  font-size: 1.5em !important;
  margin-block-end: .4em;
  margin-top: 1.5em;
}

h3 {
  font-size: 1.2em !important;
  margin-block-end: .4em;
  margin-top: .3em;
}

h4 {
  font-size: 1.1em !important;
  margin-top: .3em;
  margin-block-end: .4em;
}

h5 {
  font-size: 1em !important;
}

h6 {
  font-size: 1em !important;
  font-style: italic;
}

.trans-note {
  color: gray;
}


.site-title {
  color: black;
  font-weight: bold;
}

.slug {
  font-family: "Inria Sans";
  font-weight: 200;
  color: gray !important;
}

ul.toc {
  list-style-type: none;
  padding: 0;
  margin-left: 10pt;
}

div.bibtex-code {
  margin-top: 1em;
}

header.post-header {
  margin-bottom: 1em !important;
}

header.inline {
  display: inline;
  margin-right: .5ex;
}

header.inline + p {
  display: inline;
}

header.inline + p + * {
  margin-top: 10px;
}

header.inline .numbering {
  font-weight: bold;
}

.katex { line-height: 1 !important; }
.antex.display { display: flex; padding: 1em; }
.antex.display > svg { margin: 0 auto !important; }

ul.toc {
  margin-top: 0;
}

