---
layout: default
---

<style>
  section.ellipsis > header {
    opacity: 0.5;
    border-bottom: 3px dashed black;
  }
  section.ellipsis > :not(header) {
    display: none;
  }
  #search-form {
    margin-bottom: 2rem;
  }
  #search-form fieldset {
    display: flex;
    flex-wrap: wrap;
  }
  #search-form input {
    flex-grow: 1;
  }
  #search-form .hint {
    flex-basis: 100%;
    margin: 0;
  }
</style>

<script src="{{ 'assets/in_page_search.js' | relative_url }}"></script>

<form id="search-form" hidden>
  <fieldset>
    <legend>Search</legend>
    <input autocomplete="off" type="search" id="search-query" name="q" placeholder="Search...."/>
    <button type="submit">Search</button>
    <button type="reset">Clear</button>
    <p class="hint">Some hints about searching effectively should be here.</p>
  </fieldset>
</form>

<article class="post">
  <nav>
    {% include breadcrumbs.html list=page.ancestors %}
  </nav>

  <div class="post-content">
    {{ content }}
  </div>

  {% include d-pad.html page=page %}

  {% if page.referrers.size != 0 %}
  <nav>
    <h4>Referrers</h4>
    {% include list.html list=page.referrers %}
  </nav>
  {% endif %}

  {% capture bibliography_count_cited %}{% bibliography_count --cited %}{% endcapture %}
  {% if bibliography_count_cited != "0" %}
    <h4>Bibliography</h4>
    {% bibliography --cited %}
  {% endif %}

</article>
