---
layout: default
---
<article class="post">

  {% install_graph %}

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    {% if page.subtitle %}
    <p id="page-subtitle" class="page__subtitle p-name" itemprop="headline">
    {{ page.subtitle }}
    </p>
    {% endif %}

  </header>


  {% if page.toc[page.slug] %}
  <nav>
    <h4>Table of Contents</h4>
    {%include toc.html slug=page.slug toc=page.toc%}
  </nav>
  {% endif %}


  <div class="post-content">
    {{ content }}
  </div>


  {% if page.cotoc[page.slug] %}
  <nav>
    <h4>Context</h4>
    <ul>
      {% for p in page.cotoc[page.slug] %}
      <li>
        <a href="{{p.url | relative_url}}">{{p.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}

  {% if page.referents[page.slug] %}
  <nav>
    <h4>Referrers</h4>
    <ul>
      {% for p in page.referents[page.slug] %}
      <li>
        <a href="{{p.url | relative_url}}">{{p.title}} <span class="slug">[{{p.slug}}]</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}


</article>
